@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --red: #ff3838;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #f7f7f7;
}

.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
}

.heading span {
    font-size: 3rem;
    color: var(--red);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

header .logo>i {
    color: var(--red);
    padding-right: .5rem;
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--red);
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/home-bg.jpg) no-repeat;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
    padding-left: 6rem;
}

.home .content h3 {
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
}

.content p {
    /* text-align: center; */
    align-items: center;
    font-size: 2rem;
    color: rgb(41, 37, 37);
    padding: 1rem 1rem;
}

.content .btn {
    margin: 1.5em;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}


/* ------------------------------------------speciality---------------------------------------- */

.speciality {
    margin: 6rem;
}

.speciality .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .heading {
    text-align: center;
    font-size: 3.5rem;
    padding: .5rem;
    color: #666;
}

.speciality .box-container .box {
    flex: 1 1 30rem;
    /* flex: initial initial initial; */
    position: relative;
    overflow: hidden;
    border: .1px solid black;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    cursor: pointer;
    border-radius: .5rem;
}

.speciality .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-container .box .content {
    text-align: center;
    background-color: #fff;
}

.speciality .box-container .box .content img {
    padding-top: 3em;
}

.speciality .box-container .box .content h3 {
    text-align: center;
    font-size: 2rem;
}

.speciality .box-container .box .content h3 p {
    font-size: 2rem;
}

.speciality .box-container .box:hover .image {
    top: 0%;
}


/* -----------------------------------popular------------------------------------------------------------ */

.popular {
    margin: 6rem;
}

.popular .heading {
    text-align: center;
    font-size: 3rem;
}

.popular .box-content {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.popular .box-content .box {
    flex: 1 1 30rem;
    border: .9px solid black;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.popular .box-content .box img {
    padding: 2rem;
    height: 25rem;
    object-fit: cover;
    width: 100%;
    /* border: 1px solid black; */
    /* border-radius: .5rem; */
    /* width: 100%; */
}

.popular .box-content .box .price {
    background-color: red;
    color: #fff;
    font-size: 2rem;
    left: 8rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    position: absolute;
    z-index: 1;
}

.popular .box-content .box h4 {
    text-align: center;
    font-size: 2.5rem;
}

.popular .box-content .box .stars {
    text-align: center;
}

.popular .box-content .box .stars i {
    color: gold;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.popular .box-content .box .btn {
    text-align: center;
}


/* -------------------------------------Works------------------------------------- */

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

.box-container h3 {
    font-size: 3rem;
    color: #333;
    padding: 1rem;
}


/* ---------------------------------------gallery-------------------------------------------- */

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* padding: 1rem; */
    margin: 9rem;
}

.gallery .box-container .box {
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    margin-bottom: .1rem;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.gallery .box-container .box .content p {
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
    font-weight: bolder;
}

.gallery .box-container .box .content .btn {
    border: .2rem solid #333;
}

.gallery .box-container .box:hover .content {
    top: 0;
}


/* -----------------------------order---------------------------------------------------------- */

.order {
    margin: 10rem;
    margin-bottom: 0%;
    /* height: 100rem; */
}

.order .heading {
    text-align: center;
}

.order .heading {
    font-size: 3rem;
}

.order .box-container {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}

.order .box-container .image {
    flex: 1 1 30rem;
}

.order .box-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.order .box-container form {
    flex: 1 1 50rem;
    padding: 1rem;
    border: .2rem solid #333;
}

.order .box-container form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .box-container form .inputBox input,
.order .box-container form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}

.order .box-container form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

.order .box-container form .btn {
    background: none;
}

.order .box-container .btn:hover {
    background: var(--red);
}


/* ------------------------------review---------------------------------------------- */

.review {
    margin: 10rem;
    margin-bottom: 0%;
}

.review .heading {
    text-align: center;
    font-size: 3rem;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
}

.review .box-container .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.review .box-container .box h3 {
    /* text-align: center; */
    color: #fff;
}

.review .box-container .box .stars i {
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}


/* --------------------------------------------------footer------------------------------------------ */

.footer {
    background-color: black;
}

.share {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    /* flex: auto; */
}


/* .footer h1 {
    color: white;
    
    text-align: center;
} */

.footer .credit {
    padding: 2.5rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
}


/* -------------------------------------scroll button---------------------------------------- */

#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 12rem)
}


/* ------------------------------loader gif--------------------------------------------- */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
}


/*------------------------------------------ media queries -------------------------------------------------- */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
}

@media(max-width:480px) {
    .gallery .box-container .box .content p {
        font-size: .8rem;
        /* display: none; */
    }
    .gallery .box-container .box .content h3 {
        font-size: 1.5rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
    .order .row form .inputBox input {
        width: 100%;
    }
}